{% extends 'base.html' %}

{% block titre %} 
    Affichage des lignes
{% endblock %} 

{% block content %} 
<div id="mapage">
    <h1>Nos lignes de bus</h1>
    
    <select>les lignes de bus</select>
    <h2> <span style="text-decoration: underline;"><b>Lignes :</span></b></h2>
    {% for i in liste_lignes %} 
        <h3>{{i['id_ligne']}}  {{i['nom']}}</h3>
    {%endfor %}
    <div id="mapage">
        <a href="{{ url_for('accueil') }}">Accueil</a>
      </div> 
    
{% endblock %} 
